@page
@model IndexModel
@{
    ViewData["Title"] = "Application!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Application</h1>
    <p>I am an Application...</a></p>
    <img src="https://memegenerator.net/img/instances/76673008.jpg" alt="I pass butter">
</div>
